    <div class="aboutme animated fadeIn" id="about" >
        <h1>ABOUT ME</h1>
        <div class="inner">
        <img src="images/mypic.png" style="float:right; width:15%; height:auto; margin-right:2%">
        <p>Hey can you see the boy on the right?That would be me.Hi I'm vijay chander graphic and web designer who love's to create clean and impressive interfaces.I started working on web designs from long time.Since then,
            <br> I have been creating clean,elegant and creative designs for the web.i have worked almost on everything from Animation to
            <br> Graphics and Web Design.I have learned and tried to master languages such as HTML,CSS,Javascript, and much more.I have also worked with
            <br> many popular CMS(content-mangement-systems) such as Wordpress.Through my experience on the ethernet, i have come to meet some
            <br> most talented people, who have taught me much.When i started to work on bigger websites and am always try to unique and push the boundaries.
            <br>This is about myself ina brief, So now you know a bit about me i guess.Checkout my portfolio, or if you are really intrested, head over to the contact
            <br> area and shoot me an email.
        </p>
    </div>
</div>
