<div class="container-fluid animated slideInDown" id="contact">  
<center>
<div>
<h1><b>Get in touch</b></h1>
<h3>You can contact me if you have any queries.</h3>
</div><br><br><br>

<div class="row" id="mail_icons">
	<div class="col-lg-3"></div>
	<img class="img-responsive col-lg-1" src="images/mobile.png" >
	<h3 class="col-lg-1">PHONE:</h3>
	<h2 class="col-lg-3"><em>252-285-9092</em></h2>
	
</div><br>

<div class="row" id="details">
	<div class="col-lg-3"></div>
	<img class="img-responsive col-lg-1" src="images/email.png" >
	<h3 class="col-lg-1">MAIL:</h3>
	<h2 class="col-lg-3"><em>jaychander36@gmail.com</em></h2>
	<div class="col-lg-3"></div>
    </div>
    
    <div class="row" id="resume">
        <h3><strong>You can download my resume here</strong></h3>
    <a href="https://drive.google.com/file/d/0B1bD0Otll-p6SUFtOHltSkVrbEU/view?usp=sharing" target="_blank" type="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span>Resume</a>
</div>
    </center>
</div>
    
