<div class="work animated fadeIn" id="experience">  
    <h2 style="margin-left:30px; color:#53c653">Professional Experience:</h2>
 <table class="table" style="margin-left:20px;">
    <tbody>
      <tr>
        <td>AIG UNITED GUARANTY<br>North Carolina, NC</td>
        <td class="descp">In this project as a UI developer assisted my team in developing two different Web-based applications<br> and created User Account landing page, User Account summary/overview and login page.</td>
        <td>Sep 2016 - Present</td>
      </tr>
      <tr>
        <td>MONSANTO<br>St.Louis, MO</td>
        <td class="descp">My task in this project is to design and build website for Monsanto API portal.<br>By intergrating and analyzing Monsanto's Climate Corp's weather and environment data,<br> Here we are invovled in Software Development Life Cycle phases like requirement gathering<br>,Analysis,Design,Development and Testing.As a UI developer we used to build API platform <br>for basic users and trusted patners to publish their APIs.In this project Amazon Web Service(AWS)<br> is also used to perform cloud computing server storage.</td>
        <td>Marc 2014 - Aug 2016</td>
      </tr>
      <tr>
        <td>GUARDIAN LIFE INSURANCE<br>New York, NY</td>
        <td class="descp">In this Application the user interface & workflow provides to manage life insurance Beneficiaries.<br>Captures all the GPL enrollment and benefit data from regular enrollment for Group and transmit<br> Life production data to IL Policy generation.Members GPL data will be stored in new common data store,<br>This application process acknowledgement from IL system.</td>
        <td>Oct 2012 - Feb 2014</td>
      </tr>
        <tr>
        <td>COGNIZANT<br> Chennai, India</td>
        <td>It involves in creating a knowledge repository for JPMC portal.This site is used by various team memebers<br> working with JPMC.We use this website to get to know the details about customer, types of business.<br>The site is highly secured with a login associated with team members working in a particular LOB only.<br>KR is purely web application based Rainbow Framework.The KR is central repository of JPMC,<br> user can upload project documents,coding and all kinds of project related information.</td>
        <td>Feb 2010 - sep 2012</td>
      </tr>
        <tr>
        <td>COGNIZANT<br> Chennai, India</td>
        <td>Here we have created an online portal called Dash board portal it is a web based online site<br> where we can upload and view metrics data on monthly/quaterly base.It generates metrics graph<br> using.Net charting tool.It has several pages to display metrics data in different ways like schedule variation,<br>Effort variation and other metrics.</td>
        <td>Apr 2008 - Jan 2010</td>
      </tr>
    </tbody>
  </table>
               
    </div>
       