
<div class="skills animated fadeIn" id="extras" ng-controller="myCtrl">
    
<div class="skillbar" data-percent="95">
      <span class="skillbar-title" style="background: #eee">HTML/HTML5</span>
      <p class="skillbar-bar" style="background: #80bfff"></p>
      <span class="skill-bar-percent"></span>
    </div>
    <!-- End Skill Bar -->
    
    <div class="skillbar" data-percent="95">
      <span class="skillbar-title" style="background: #eee">CSS/CSS3</span>
      <p class="skillbar-bar" style="background: #ff4d4d"></p>
      <span class="skill-bar-percent"></span>
    </div>
               <!-- End Skill Bar -->
    
    <div class="skillbar" data-percent="95">
      <span class="skillbar-title" style="background: #eee">Bootstrap</span>
      <p class="skillbar-bar" style="background: #ffcc00"></p>
      <span class="skill-bar-percent"></span>
    </div>
    <!-- End Skill Bar -->

    <div class="skillbar" data-percent="90">
      <span class="skillbar-title" style="background: #eee">Javascript</span>
      <p class="skillbar-bar" style="background: #ff8c1a"></p>
      <span class="skill-bar-percent"></span>
    </div>
           <!-- End Skill Bar -->
  <div class="skillbar" data-percent="90">
      <span class="skillbar-title" style="background: #eee">Jquery</span>
      <p class="skillbar-bar" style="background: #ff1a8c"></p>
      <span class="skill-bar-percent"></span>
    </div>
               <!-- End Skill Bar -->
    <div class="skillbar" data-percent="85">
      <span class="skillbar-title" style="background: #eee">AngularJs</span>
      <p class="skillbar-bar" style="background: #53c653"></p>
      <span class="skill-bar-percent"></span>
    </div>
                <!-- End Skill Bar -->
<br>


<div style="margin-left: 8%; padding-top: 450px">
    <div class="container">
  		<img src="images/webTech.png" alt="Avatar" class="image img-responsive" style="width:100%">
  		<div class="middle">
            <div class="text"><b>Web/App Servers: Apache Tomcat 7/8, HTTP Web Server, SMTP, FTP</b></div>
  		</div>
  	</div>  
    </div>
    
  	<div class="container" style="margin-left:8%">
  		<img src="images/cms.png" alt="Avatar" class="image img-responsive" style="width:100%">
  		<div class="middle">
    		<div class="text"><b>Content Management tools: Adode Publish, WordPress, Joomla, Drupal</b>
  		</div>
  	</div>
    </div>
    
	<div class="container" style="margin-left:8%">
        <img src="images/database.png" alt="Avatar" class="image img-responsive" style="width:100%">
  		<div class="middle">
    		<div class="text"><b>Database: MYSQL, SQL SERVER</b></div>
  		</div>
	</div>

        
    </div>
